################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

atm23.py
abc.txt
atmLocal.py
lamda.py
test.py
